<h1>Books</h1>
<% @books.each do |book| %>
<div>

  <%= link_to book_path(book.id) do %>
    <p class="book_title"><%= book.title%></p>
  <% end %>
    <p class="book_body"><%= book.body %></p>
</div>
<% end %>
<%= paginate @books %>

<%= render partial: 'books/post' %>