<div class="post-body">
    <h3>Book detail</h3>
  <p class="username"><%= @book.user.name %></p>

  <p class="book_title"><%= @book.title%></p>
  <p class="book_body"><%= @book.body %></p>

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    |
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>

</div>